@page

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proxy</title>
</head>
<body>
<div>
    <h1>Proxy</h1>
    @* ReSharper disable once Html.PathError *@
    <p><a href="~/proxy">Open Linux Page</a></p>
</div>
</body>
</html>